.gifs-output {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 3rem;
    margin: -1rem -1rem;
}

.list-spacing {
    margin-top: 30px;
    margin-left: 20px;
}